.flexBox{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    gap: 20px;

    @media (max-width: 500px) {
        justify-content: center;   
    } 

    img{
        width: 200px;
        
    }

    span{
        display: flex;
        gap: 20px;
        
        & > a{
            color: var(--color-red);
            transition: color 0.3s ease;

            &:hover{
                color: var(--color-black); 
            }
        }

        form{
            position: relative;
            bottom: 10px;
            border-radius: 8px;
            width: 100%;
            background: var(--color-white);
            border: 1.5px solid var(--color-black);
            
            
            input{
                padding: 10px 70px 10px 5px;
                border-radius: 8px;
                height: 2.5rem;
                outline: none;
                width: 100%;
                color: var(--color-black);
                background: var(--color-white);
    
            
            }
            button{
                position: absolute;
                align-items: center;
                right: -9px;
                padding: 10px;
                transition: color 0.3s ease;

                &:hover{
                    color: var(--color-red); 
                }
            
            }

        }  
    }
    
}