.flexBox{
    display: flex;
    align-items: center;
    // flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 10px 0;
    gap: 20px;

    // @media (max-width: 980px) {
    //     justify-content: center;   
    // } 

    img{
        width: 200px;
    }
        
    form{
        position: relative;
        top: 5px;
        border-radius: 8px;
        width: 100%; 
        height: 35px;          
        background: var(--color-white);
        border: 2px solid var(--color-black);
        @media (min-width: 980px) {
            width: 50%;   
        }
        
        input{      
            padding: 0 10px;
            height: 30px;
            border-radius: 8px;
            outline: none;
            width: 100%;
            background: var(--color-white);  
            border: 1px solid transparent;
        }
        button{
            position: absolute;
            align-items: center;
            right: -1px;
            padding: 5px;
            transition: all 0.3s ease;
            &:hover{
                color: var(--color-red);
            }           
        }

    }     
}