.btn-admin {
    font-family: 'Roboto', sans-serif; /* Define a fonte do botão */
    background-color: #007bff; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    border: none; /* Remove a borda do botão */
    padding: 10px 20px; /* Espaçamento interno do botão */
    border-radius: 5px; /* Arredonda as bordas do botão */
    cursor: pointer; /* Altera o cursor ao passar sobre o botão */
    transition: background-color 0.3s, color 0.3s; /* Adiciona uma transição suave de cores */
  }