.detalhes-postagem p{
    font-family: var(--font-primary);
  
}

.content-container {
  position: relative; /* Define a posição relativa para que o spinner seja posicionado em relação a este contêiner */
}

.spinner-container {
  position: absolute; /* Define a posição absoluta para que o spinner seja posicionado dentro do contêiner pai */
  top: 50%; /* Posiciona o spinner verticalmente no centro do contêiner pai */
  left: 50%; /* Posiciona o spinner horizontalmente no centro do contêiner pai */
  transform: translate(-50%, -50%); /* Move o spinner para o centro do contêiner pai */
}


.icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .modal-content-edition {
    padding: 10px;
  }
  
  
  .edit-icon,
  .delete-icon {
    font-size: 24px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .edit-icon:hover
   {
    color: #007bff; /* Altere a cor conforme desejado */
  }

  .delete-icon:hover{
    color: red;
  }

  /* Adicione uma classe para o contêiner do conteúdo que deseja fazer rolar */
.content-container {
  max-height: 80vh; /* Defina uma altura máxima para o contêiner */
  overflow-y: auto; /* Adicione rolagem vertical quando o conteúdo exceder a altura máxima */
 
}

/* Adicione um media query para aplicar estilos apenas em tablets e celulares */
@media (max-width: 991px) {
  .detalhes-postagem p {
      font-family: var(--font-primary);
  }

  .icons {
      display: flex;
      justify-content: center;
      margin-top: 20px;
  }

  .modal-content-edition {
      padding: 10px;
  }

  .edit-icon,
  .delete-icon {
      font-size: 24px;
      margin-right: 10px;
      cursor: pointer;
  }

  .edit-icon:hover {
      color: #007bff; /* Altere a cor conforme desejado */
  }

  .delete-icon:hover {
      color: red;
  }
}
