.scrollable-content {
    max-height: 100px; /* Defina a altura máxima que deseja permitir antes de adicionar a barra de rolagem */
    overflow-y: auto; /* Adicione uma barra de rolagem vertical quando o conteúdo ultrapassar a altura máxima */
  }


  .content-cell {
    max-width: 500px; /* Defina o valor desejado para a largura máxima */
    text-overflow: ellipsis; /* Adiciona reticências (...) ao final do conteúdo se ele ultrapassar a largura máxima */
    /* Impede que o conteúdo seja quebrado em várias linhas */
  }

#tags_post{
    width: 100px;
}

.init_post_table{
    width: 100%;
    display:flex ;
    justify-content: space-between;
    /* padding: 1rem; */
}

.init_post_table .search_post{
    box-shadow: 1px 3px 5px black;
    border-radius: 5px;
    width: 40%;
    outline: none;
}

/* input{
    outline: none;
    box-shadow: 1px 3px 5px black;
    border-radius: 5px;

} */

.init_post_table .search_post::placeholder{
    font-family: Arial, sans-serif;

}



.custom-select {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #555;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    appearance: none;
    background-color: #fff;
    background-image: linear-gradient(to bottom, #f9f9f9, #e9e9e9);
    background-repeat: repeat;
    background-position: right 20px center;
    cursor: pointer;
  }
  
  .custom-select:focus {
    outline: none;
    border-color: #aaa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .custom-select option {
    padding: 10px;
    background-color: #fff;
    color: #555;
  }
  
  /* Hover effect */
  .custom-select:hover {
    background-color: #f5f5f5;
  }
  

.small_th{
    width: 100px;
}
  .td{
    width: 200px;
  }
.small_post_table{
    width: 50px;
}
  #title_post{
    width: 200px;
  }


  .table{
    font-family: var(--font-primary);

  }