.container_post {
  width: 95%;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 10px;
  background-color: #f5f5f5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: auto;
}

.search-post {
  width: 40%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.filter-options {
  float: right; /* Alinhamento à direita */
}

.filter-options > .filter-icon {
  cursor: pointer;
}

.options-menu {
  position: absolute;
  top: 40px;
  left: 0;
  width: 150px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding: 0.5rem;
}

.options-menu span {
  font-size: 15px;
}

.order-select {
  font-size: 16px;
  color: #555;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  appearance: none;
  background: linear-gradient(to bottom, #f9f9f9, #e9e9e9);
  background-repeat: repeat;
  background-position: right 20px center;
  cursor: pointer;
  float: right; /* Alinhamento à direita */
}

.order-select:focus {
  outline: none;
  border-color: #aaa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.order-select option {
  padding: 10px;
  background-color: #fff;
  color: #555;
}

.order-select:hover {
  background-color: #f5f5f5;
}

.post-table {
  font-family: var(--font-primary);
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 10px;
}

.post-table th,
.post-table td {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.post-table th {
  text-align: left;
  font-weight: bold;
  background-color: #f5f5f5;
}

.post-table tbody tr:hover {
  background-color: #007bff;
  color: white;
}

.scrollable-content {
  max-height: 100px;
  overflow-y: auto;
}
