/* styles.css */

.scrollable-content {
    max-height: 100px; /* Defina a altura máxima que deseja permitir antes de adicionar a barra de rolagem */
    overflow-y: auto; /* Adicione uma barra de rolagem vertical quando o conteúdo ultrapassar a altura máxima */
  }

 .center{
  text-align: center;
 }
  
  