/* styles.css */

.scrollable-content {
    max-height: 100px; /* Defina a altura máxima que deseja permitir antes de adicionar a barra de rolagem */
    overflow-y: auto; /* Adicione uma barra de rolagem vertical quando o conteúdo ultrapassar a altura máxima */
  }

 .center{
  text-align: center;
 }

 .justify{
  display: flex ;
  
 }
  
 .content-cell {
  max-width: 500px; /* Defina o valor desejado para a largura máxima */
  text-overflow: ellipsis; /* Adiciona reticências (...) ao final do conteúdo se ele ultrapassar a largura máxima */
  /* Impede que o conteúdo seja quebrado em várias linhas */
}

.content-cell-title{
  max-width: 200px;
}
