.asideAds {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.asideAds > div {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    cursor: pointer;
    // padding:0 10px;

    @media (min-width: 980px) {
        width: 200px;
        height: 200px; 
    }
    
}

.asideAds img {
    width: 100%; 
    height: 35vh;

    @media (min-width: 980px) {
        width: 200px;
        height: 200px; 
    }
}