.asideAds {
    display: flex;
    margin-top: 2em;
    
}
.hidden {
    display: none;
}

@media (min-width: 980px) {
    .asideAds {
    width: 40%;
    }
}

.asideAds > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 15em;
    cursor: pointer;
    
}

.asideAds {
    img{
        width: 100%; 
        height: auto;
        // object-fit: cover;
        @media (min-width: 980px) {
            width: 100%;
            height: 15em;
        }
    }
}