.rightAside{
    display: flex;
    flex-direction: column;

    ul{
        list-style: none;
        padding: 0;
        li{
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
            gap: 5px;
            width: 100%;
            background:  rgba(128, 128, 128, 0.085);
            cursor: pointer;

            @media (min-width: 980px) {
                width: 200px;
                height: 200px;
            }
            & > img {
                width: 100%;
                height: 60%;
                object-fit: cover;
                cursor: pointer;
            }
            h1{
                padding: 0 10px 20px ;
                color: var(--color-red);
                @media (min-width: 980px) {
                    padding: 0 6px ;
                }
            }
            p{
                padding: 0 10px 20px ;
                @media (min-width: 980px) {
                    padding: 0 6px ;
                }
            }
        }
    }
    
    span > img{
        width: 100%;
        height: 35vh;
        

        @media (min-width: 980px) {
            height: 200px;
        }
    }

}