.btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    padding: 0 1.5rem;
    // height: 35px;

    font-family: var(--font-primary);
    font-size: clamp(10px, 2vw, 13px);
    font-weight: 200;
    color: var(--color-black);

    transition: .4s;

    &:hover{
        color: var(--color-gray);
        filter: brightness(1.1);
    }
}


