.btn{
    display: flex;
    align-items: center;
    font-family: var(--font-primary);
    font-size: clamp(7px, 2vw, 17px);
    font-weight: 400;
    color: var(--color-black);
    transition: .2s;
    border: none;

    &:hover{
        color: var(--color-gray);
        filter: brightness(1.1);
    }
}



