.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-primary);
    font-size: clamp(10px, 2vw, 13px);
    font-weight: 200;
    color: var(--color-black);
    padding: 6px;
    transition: .4s;

    &:hover{
        color: var(--color-gray);
        filter: brightness(1.1);
    }
}


