@font-face {
    font-family: "beton";
    src: url("../assets/fonts/beton.otf");
}

:root{
    --font-primary: 'beton';


:root{
    --font-primary: "beton";

    --color-red: #ff0000;
    --color-white: #ffffff;
    --color-black: #000000;

    --swiper-pagination-bottom: 125px;
    --swiper-pagination-color: #ffffff;
    --swiper-pagination-bullet-inactive-color:red;
    --swiper-pagination-bullet-inactive-opacity: 0.5;
    
    --swiper-navigation-size: 34px;
    --swiper-navigation-top-offset: 65%;
    --swiper-navigation-color: red;

}