:root{
    --font-primary:  "Ubuntu", sans-serif;

    --color-red: #ff0000;
    --color-white: #ffffff;
    --color-gray: rgba(155, 153, 153, 0.744);
    --color-black: #000000;

    --swiper-pagination-bottom: 110px;  
    --swiper-pagination-color: red;
    --swiper-pagination-bullet-inactive-color: white;
    --swiper-pagination-bullet-inactive-opacity: 10;

}