.title{
    font-family: var(--font-primary);
    font-weight: 800;
    line-height: 1.6;

    &.one{
        font-size: clamp(2rem, 6vw, 40px);
    }

    &.two{
        font-size: clamp(1.125rem, 3vw, 10px);
    }

    &.three{
        font-size: clamp(1.125rem, 3vw, 20px);
    } 
    &.post{
        font-size: clamp(28.8px, 5vw, 40px);
    }
    &.center{
        text-align: center;
        font-size:20px ;
    }
}

.paragraph{
    font-family: var(--font-primary);
    font-weight: 200;
    line-height: 1.2;
    font-size: clamp(1rem, 2vw, 1.0625rem);
    color: var(--black);


    &.bold{
        font-weight: 200;
    }

    &.center{
        text-align: center;
    }
}

.link{
    font-family: var(--font-primary);
    font-weight: 800;
    color: var(--color-red);

    &:hover{
        text-decoration: underline; //ou none
    }
}