.title{
    font-family: var(--font-primary);
    font-weight: 800;
    line-height: 1.6;

    &.one{
        font-size: clamp(2rem, 6vw, 40px);
    }

    &.two{
        font-size: clamp(1.125rem, 3vw, 10px);
    }

    &.three{
        font-size: clamp(1.125rem, 3vw, 20px);
    } 
    &.post{
        font-size: clamp(28.8px, 5vw, 40px);
    }
    &.center{
        text-align: center;
        font-size: clamp(20px, 5vw, 15px);
    }
}
.input{
    // font-family: var(--font-primary);
    font-weight: 200;
    line-height: 1.2;
    font-size: clamp(12px, 2vw, 8px);
    color: var(--color-gray);
}

.paragraph{
    font-family: var(--font-primary);
    line-height: 1.2;   
    color: var(--black);

    &.bold{
        font-weight: 400;
        font-size: clamp(18px, 2vw, 15px);
    }

    &.center{
        text-align: center;
        font-size: clamp(18px, 2vw, 15px);
    }
    &.small{
        font-size: clamp(12px, 2vw, 12px);
    }
}


.link{
    font-family: var(--font-primary);
    font-weight: 400;
    line-height: 1.2;
    color: var(--color-red);
    font-size: clamp(17px, 2vw, 19px);


    &:hover{
        text-decoration: underline; 
    }
}