.leftAside{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    width: 100%;

    @media (min-width: 980px) {
        flex-direction: column;
        width: 40%;
    }

    ul{
        display: flex;
        padding: 0;
        margin: 0;
        gap: 10px;
        width: 100%;
        flex-direction: column;

        .lists{
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 60em;
            max-height: 15em;
            gap: 5px; 
            background: rgba(128, 128, 128, 0.085);
            cursor: pointer;
            
            @media (min-width: 980px) {
                img , video{
                    width: 100%;
                    
                }
            }

            & > img, & > video {
                width: 100%;
                height: 10em;
                max-height: 60%;   
            }   

            div{
                padding: 5px;
            }
            h1{
                color: var(--color-red);
            }
        }
    }
    
    span {
        width: 100%;
        height: 15em;
    }
    span > img{
        width: 100%;
        cursor: pointer;

        @media (min-width: 980px) {
            width: 100%;
            height: 12em;
        }
    }

}
