.leftAside{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;

    @media (min-width: 980px) {
        flex-direction: column;
        width: 40%;
    }

    ul{
        display: flex;
        padding: 0;
        margin: 0;
        gap: 10px;
        width: 100%;
        flex-direction: column;

        .lists{
            display: flex;
            flex-direction: column;
            // margin-bottom: 10px;
            width: 100%;
            gap: 5px; 
            background: rgba(128, 128, 128, 0.085);
            cursor: pointer;
            
            @media (min-width: 980px) {
                img {
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                }
            }

            & > img, & > video {
                width: 100%;
                height: 200px;
                cursor: pointer;
    
                @media (max-width: 980px) {    
                    height: 300px;
        
                }
            }   

            div{
                padding: 5px;
            }
            h1{
                color: var(--color-red);
            }
        }
    }
    
    span {
        width: 100%;
        height: 200px;
    }
    span > img{
        width: 100%;
        height: 100%;
        cursor: pointer;

        @media (min-width: 980px) {
            width: 100%;
            height: 300px;
        }
    }

}
