.leftAside{
    display: flex;
    flex-direction: column;

    @media (min-width: 980px) {
        img{
            width: 50%;
        }
    }

    ul{
        & > li{
            display: flex;
            flex-direction: column;
            margin-bottom: 35px;
            width: 100%; 
            gap: 5px; 
            background: rgba(219, 215, 215, 0.744);

            @media (min-width: 980px) {
                width: 200px;
                height: 200px;
            }
            & > img {
                width: 100%;
            }
            & > a,
            & > p{
                padding: 0 10px 20px ;

                @media (min-width: 980px) {
                    padding: 0 6px ;
                }
            }
        }
    }
    

    // & > div{
    //     width: 100%;
    //     padding: 20px ;
    //     // height: 10.9375rem;
    //     border: 2px solid;

    // }

}