.flexBox{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
    gap: 40px;
    


    @media (min-width: 980px) {
        justify-content: center;   
        flex-direction:row;
    } 
}

.slideItem {
    position: relative;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    font-size: var(--font-primary);
    
    @media (min-width: 980px) {
        flex-direction:row;
        justify-content: center;   
        
    }

    .imageContainer{
        position: relative;
        width: 100%;
        margin-top: 12px;
        height: 400px;
        overflow: hidden;
        gap: 20px;
        cursor: pointer;
        
        img {
            width: 100%;
            height: 400px;
            overflow: hidden;

            @media (min-width: 980px) {
                justify-content: center;   
                flex-direction:row;
            }
            
        }

        .overlay {
            position: absolute;
            top: 240px;
            width: 100%;
            height: 450px;
            display: flex;
            flex-direction: column;
            background-color: rgba(0, 0, 0, 0.5); 
            color: white;
            padding:  10px;


            h1{
                color: var(--color-red);
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}

.customSwiper {
    display: flex;
    max-width: 100%;
    height: 80%;
    flex-wrap: wrap;
    flex-direction: row;
    align-self: flex-start;

    strong{
        display: flex;
        width: 100%;
        justify-content: center;        
    }
    & > strong > img {
            padding: 10px;
            width: 500px;
            height: 15vh;
    }
    
    @media (min-width: 980px) {
        max-width: 65%;  
        justify-content: center;   
        flex-direction:row;
    }
}







