.flexBox{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
    height: 100%;
    gap: 40px;

    @media (min-width: 980px) {
        justify-content: center;   
        flex-direction:row;
    } 
}


.slideItem {
    position: relative;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    font-size: var(--font-primary);
    
    @media (min-width: 980px) {
        flex-direction:row;
        justify-content: center;   
        
    }

    .imageContainer{
        position: relative;
        width: 100%;
        margin-top: 12px;
        height: 400px;
        overflow: hidden;
        gap: 20px;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;

            @media (min-width: 980px) {
                justify-content: center;   
                flex-direction:row;
            }
            
        }

        .overlay {
            position: absolute;
            top: 265px;
            width: 100%;
            height: 90%;
            display: flex;
            flex-direction: column;
            background-color: rgba(0, 0, 0, 0.5); 
            color: white;
            padding:  20px 10px ;
            box-sizing: border-box; 

            & > h1{
                color: var(--color-red);
            }
        }
    }
}

.customSwiper {
    display: flex;
    position: relative; 
    max-width: 100%;
    height: 80%;
    flex-wrap: wrap;
    flex-direction: row;
    align-self: flex-start;

    & > strong > img {
            // display: flex;
            // position: absolute;
            // align-items: center;
            // justify-content: center;
            padding: 10px;
            width: 100%;
            height: 15vh;

    }
    

    @media (min-width: 980px) {
        max-width: 65%;  
        justify-content: center;   
        flex-direction:row;
    }
}







