.displayFlex{
    display: flex;
    flex-direction: column;

    @media (min-width: 980px) {
        justify-content: center;   
        flex-direction:row;
    } 
}

.flexBox{
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 20px 40px;
    

    @media (max-width: 980px) {
        justify-content: center;   
        padding: 0;
        width: 100%;
        margin-top: 2px;
    }    
}

.Strong{
    width: 100%;
    margin-top: 10px;
}

.Strong > img {
    width: 100%;
    height: 10em;

}


.slideItem {
    
    @media (min-width: 980px) {
        flex-direction:row;
        justify-content: center;   
        
    }

    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}

.imageContainer{
    display: flex;
    justify-content: center;
    width: 100%;  
    // height: 20em;
    overflow: hidden;
    cursor: pointer;
    @media (max-width: 980px) {
        margin-top: 30px;

    }
    & > img {
        width: 100%;
        height: 400px;
        // object-fit: cover;
        
    }
    & > video {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
    .overlay {
        display: flex;
        position: absolute;
        top: 17em;
        width: 100%;
        height: 10em;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.5); 
        color: white;
        padding:  1em;
        & > h1{
            color: var(--color-red);
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}


.customSwiper {
    display: flex;
    max-width: 100%;
    height: 80%;
    flex-wrap: wrap;
    flex-direction: row;
    align-self: flex-start;

}







