/* Estilização para o botão de cadastrar estagiário */
.btn-admin {
    font-family: var(--font-primary);
    background-color: #007bff; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    border: none; /* Remove a borda do botão */
    padding: 10px 20px; /* Espaçamento interno do botão */
    border-radius: 5px; /* Arredonda as bordas do botão */
    cursor: pointer; /* Altera o cursor ao passar sobre o botão */
    transition: background-color 0.3s, color 0.3s; /* Adiciona uma transição suave de cores */
  }




  #dropdown-item {
    color: black;
  }

 
  
  

  #dataHoraFields{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}



  #dataHoraFields input{
    width: 90%;
  }

 .dive{
    width: 50%;
flex-direction: column;
align-items: center;
}


  
  /* Estilização para o efeito hover do botão */
  .btn-admin:hover {
    background-color: #0056b3; /* Cor de fundo do botão ao passar o mouse */
    color: #fff; /* Cor do texto do botão ao passar o mouse */
  }
  
.more{
    width: 50%;
}
.unauthorized-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  box-shadow: 1px 3px 5px black;
}

.icone-vermelho{
  color: red;
}
.navbar-nav .nav-link,
.navbar-nav .dropdown-item,
.navbar-toggler-icon {
  color: white;
}


.icone-azul{
  color: #007bff;
}
.person_error{
  display: flex ;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 7px 25px black;
  padding: 2rem;
  border-radius: 5px;
}







.main_admin{
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
#font{
  font-family: var(--font-primary);
}

.unauthorized-heading {
  font-size: 2rem;
  margin-bottom: 20px;
}

.unauthorized-message {
  font-size: 1rem;
  margin-bottom: 20px;
}

.unauthorized-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.unauthorized-button:hover {
  background-color: #0056b3;
}
  

.principalAdmin{
  margin: 20px;
  backdrop-filter: blur(10px);
  height: 100vh;
  box-shadow: 1px 3px 5px black;

}
