
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
 
    
    
}

.container_main{
    background-color: #fefefe8e;
    width: 50%;
    border-radius: 5px;
    
}

.container_login {
    background-image: url('../../assets/imgs/backgorund-login.jpg');
    background-size: cover;
    box-shadow: 1px 3px 5px black;
    padding: 2rem;
    border-radius: 5px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
 


.container_login form{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    gap: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}

.login_button:hover{
    background-color:  rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1)); 
    color: white;
}

.forget{
    padding: 0.9rem;
    margin-bottom: 10px;
}
.container_login input {
    box-shadow: 1px 3px 5px;
    padding: 0.6rem;
    background-color: rgba(255, 255, 255, 0.536);
    width: 100%; /* Alteração aqui */
    border: none;
    outline: none;
    font-weight: 300;
    border-radius: 5px;
}

.container_login button {
    box-shadow: 1px 3px 5px;
    padding: 0.4rem;
    border: none;
    border-radius: 5px;
    width: 70px;
    cursor: pointer;
}

.forget:hover{
    background-color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));
    color: white;
    border-radius: 5px;
}
/* Estilo do modal */
.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

/* Estilo do modal */
.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

/* Conteúdo do modal */
.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border-radius: 5px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Botão de fechar (X) */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}


input::placeholder{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}


@media screen and (min-width: 768px) {
    .container_login input {
        width: 60%; /* Quando a tela for maior que 768 pixels, ocupa 50% da largura */
    }
}


.div_image_login{
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.div_image_login img{
    mix-blend-mode: multiply;
        width: 200px;
}


@media screen and (min-width: 320px) {
    .container_main{
        width: 80%;
    }
}
@media screen and (min-width: 280px) {
    .container_main{
        width: 100%;
    }
}

@media screen and (min-width:1024px){
    .container_main{
        width: 50%;
    }
}