.flexBox{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    background: var(--color-white);
    border-bottom: 2px solid var(--color-red);
    border-top: 2px solid var(--color-gray);
    border-right: 2px solid var(--color-gray);
    border-left: 2px solid var(--color-gray);
    
}
