.anuncios-container {
  padding: 2rem;
}

.anuncios-carousel {
  margin-bottom: 50px;
}

.anuncio-card {
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 20px;
  line-height: 1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar-container {
  margin-bottom: 20px;
}

.search-bar {
  width: 50%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  transition: box-shadow 0.3s, background-color 0.3s;
}

.search-bar:focus {
  outline: none;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}
