.flexBox{
    display: flex;
    flex-direction: column;
    width: 100%;    
    gap: 30px;
    

    @media (min-width: 980px) {
        justify-content: center;   
        flex-direction:row;
        margin-top: 20px;
    } 

    & >ul{
        padding: 0; 
        @media (min-width: 980px) {
            display: flex;
            flex-direction: column;
            width: 760px;
            
        } 
        
        span > img{
            width: 100%;
            height: 15vh;
            margin-top: 10px;
            // object-fit: cover;
            @media (min-width: 980px) {
                margin-top: 0;
            } 
        }
    }

}