.flexBox{
    display: flex;
    flex-direction: column;
    width: 100%;    
    gap: 30px;
    overflow-wrap: break-word; 
    

    @media (min-width: 980px) {
        justify-content: center;   
        flex-direction:row;
        // margin-top: 20px;
    } 

    & >ul{
        padding: 0; 
        width: 100%;
        @media (min-width: 980px) {
            display: flex;
            flex-direction: column;
            
        } 
        
        span {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        span > img{           
            width: 80%;
            height: 9em;
        }
    }
}