.flexBox{
    display: flex;
    flex-direction: column;
    height: 40vh;
    margin-top: 20px; 

    @media (min-width: 980px) {
        height: 10vh;
        margin-top: 0;
    } 
    
    img{
        width: 300px;
    }

    section{
        display: flex;
        width: 100%;
        padding: 10px ;
        align-items: center;
        flex-wrap: wrap;
        gap : 15px;    
        justify-content: space-between;  
        @media (min-width: 980px) {
            // gap: 155px;
        } 
    }

    span{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        @media (min-width: 980px) {            
            width: auto;
        } 
    }
    }
    span > a{
        padding: 0 5px;
        color: var(--color-black);
        transition: color 0.3s ease;
    &:hover{
        color: var(--color-red);
    }
        

}
    strong{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 6px;
        justify-content: center;
        
        a{
            color: var(--color-black);
            &:hover{
                color: var(--color-red);
            }
        }
        @media (min-width: 980px) {            
            align-items:flex-start;
        } 
    }


    footer > div > section{ 
        margin-top: 20px;
    }
