.flexBox{
    display: flex;
    gap: 1rem;
    height: 10vh;
    margin-top: 60px;
    align-items: center;
    justify-content: center;

    @media (max-width: 500px) {
        justify-content:center;   
        height: 30vh;
    } 

    span{
        display: flex;
        width: 100%;
        padding: 5px 0;
        border-top: 3px solid var(--color-red);
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
        gap: 20px;
        flex-wrap: wrap;
        
            
        & div > a{
            padding: 0 10px;
            color: var(--color-red);
            transition: color 0.3s ease;
    
            &:hover{
                color: var(--color-black); 
            }
        }
        & > p{
            color: var(--color-black);
            text-align: center;  
            
            & > strong{
                // margin: 15px;
                text-align: center; 
            }
        }
    }
}