.flexBox{
    display: flex;
    gap: 5px;
    margin-top: 40px;
    flex-direction: column;
    justify-content: center;
    

    @media (min-width: 980px) {
        justify-content:center;   
        height: 10vh;
    } 

    span{
        display: flex;
        width: 100%;
        padding: 30px 0;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
        gap: 20px;
        flex-wrap: wrap;
        
            
        & div > a{
            padding: 0 10px;
            color: var(--color-black);
            transition: color 0.3s ease;
    
            }
        }
    }

    footer > div > section{ 
        margin-top: 30px;
    }
