.flexBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px; 

    @media (min-width: 980px) {
        margin-top: 0;
    }     
    img{
        width: 300px;
    }

    section{
        display: flex;
        width: 100%;
        height: 10em;
        padding: 10px ;
        align-items: center;
        flex-wrap: wrap;
        gap : 15px;    
        justify-content: center;
        flex-direction:row-reverse;

        @media (min-width: 980px) {
            height: 5em;
            justify-content: space-between;
        } 
    }

    span{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        @media (min-width: 980px) {            
            width: auto;
        } 
    }
    }
    span > a{
        padding: 0 5px;
        color: var(--color-black);
        transition: color 0.3s ease;
    &:hover{
        color: var(--color-red);
    }
        

}
strong{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 6px;
    justify-content: center;
        
    a{
        color: var(--color-black);
        &:hover{
            color: var(--color-red);
        }
    }
    @media (min-width: 980px) {            
            align-items:flex-start;
    } 
}


footer > div > section{ 
    margin-top: 20px;
    @media (max-width: 980px) {
        margin-top: 90px;
    }

}

footer { 

    @media screen and (min-width: 768px) and (max-width: 815px){
        margin-top: 500px;
    }
}

