/* RecuperarSenha.css */

/* Estilos para o formulário de recuperação de senha */
.contentForget {
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: center;
    max-width: 400px; /* Definindo a largura máxima do formulário */
    margin: 0 auto; /* Centralizando o formulário na tela */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adicionando sombra suave */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Para ocupar toda a altura da página */
}

.contentForget h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.contentForget p {
    margin-bottom: 20px;
    font-size: 16px;
    color: #666;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-input {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.form-input:focus {
    border-color: #007bff;
}

.form-label {
    text-align: left;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

.back_button {
    padding: 0.4rem;
    margin-top: 2rem;
    background-color: #007bff;
    width: 30%;
    color: white;
    border-radius: 5px;
}

.btn-admin-forget {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-admin:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    margin-bottom: 15px;
}

.input-wrapper {
    position: relative;
    margin-bottom: 20px;
}

.input-wrapper label {
    color: #777;
    transition: all 0.3s ease;
}

.input-wrapper input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.input-wrapper input:focus {
    border-color: #007bff;
}

.input-wrapper input:focus + label,
.input-wrapper input:not(:placeholder-shown) + label {
    font-size: 12px;
    margin-top: -20px; /* Ajuste para alinhar o rótulo ao topo do campo de entrada */
    color: #007bff;
}

/* Estilo para o código de recuperação e nova senha */
.code-input {
    width: 100%;
}

.code-input label,
.code-input input {
    display: block;
    margin-bottom: 10px;
    text-align: left;
    color: #333;
}

/* Estilos para dispositivos menores */
@media screen and (max-width: 480px) {
    .contentForget {
        padding: 15px;
    }

    .contentForget h1 {
        font-size: 20px;
    }

    .contentForget p {
        font-size: 14px;
    }

    .form-input {
        font-size: 14px;
    }

    .btn-admin {
        font-size: 14px;
    }
}
